<h1>SECCIÓN PEOPLE</h1>

<p>TODO SOBRE LAS GRANDES CELEBRIDADES !!! </p>


<%= time_ago_in_words(Time.now + 60) %>

</section>
  
    <br>
    <h2 style="text-align: center;">CELEBRIDADES DE ESTE MES</h2>
    <section>
        <div class="container-fluid">
            <div class="row row justify-content-center">

                <div class="card m-3" style="width: 316px;">
                    <%= image_tag 'EM' %>
                    <div class="card-body">
                        <h4 class="card-title">EMINEM</h4>
                        <p class="card-text1">Mus enim elementum dignissim class eleifend justo, ut nunc magnis est
                            vulputate nostra, blandit erat luctus faucibus orci.</p>
                    </div>
                </div>

                <div class="card m-3" style="width: 316px;">
                    <%= image_tag 'ro' %>
                    <div class="card-body">
                        <h4 class="card-title">RONALDINHO</h4>
                        <p class="card-text1">Congue fermentum dignissim rhoncus elementum ac nisi, proin phasellus
                            lacinia sed faucibus mauris, taciti scelerisque nulla ornare consequat.</p>
                    </div>
                </div>

                <div class="card m-3" style="width: 316px;">
                    <%= image_tag 'ri' %>
                    <div class="card-body">
                        <h4 class="card-title">RICHARD CARAPAZ</h4>
                        <p class="card-text1">Cubilia elementum posuere arcu rhoncus egestas lectus, diam aliquam
                            laoreet ac eleifend risus, urna auctor inceptos mattis dapibus.</p>
                    </div>
                </div>
    </section>
    <br>
